<article id="experience" class="wrapper style2">
    <div class="container">
        <header class="reveal">
            <h2>{{ site.data[page.lang].ui.experience.title }}</h2>
            {% if site.data[page.lang].ui.experience.subtitle %}
            <p>{{ site.data[page.lang].ui.experience.subtitle }}</p>
            {% endif %}
        </header>
        <div class="timeline">
            {% for item in site.data[page.lang].experience %}
            <div class="timeline-item reveal reveal-delay-{{ forloop.index }}">
                <div class="timeline-marker">
                    <span class="icon solid {{ item.icon }}" style="color: {{ item.color }};"></span>
                </div>
                <div class="timeline-content">
                    <span class="timeline-date">{{ item.period }}</span>
                    <h3>{{ item.title }}</h3>
                    <p class="timeline-org">{{ item.company }}</p>
                    {% if item.description %}
                    <div class="timeline-desc">
                        {{ item.description | markdownify }}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</article>