<article id="skills" class="wrapper style2">
    <div class="container">
        <header class="reveal">
            <h2>{{ site.data[page.lang].ui.skills.title }}</h2>
            <p>{{ site.data[page.lang].ui.skills.subtitle }}</p>
        </header>
        <div class="row">
            {% for category in site.data[page.lang].skills %}
            <div class="col-12 col-md-6 mb-4 reveal reveal-delay-{{ forloop.index }}">
                <section class="box style1">
                    <h3>
                        {% if category.icon %}
                        <i class="{{ category.icon }} mr-2 text-primary"></i>
                        {% endif %}
                        {{ category.category }}
                    </h3>
                    <div class="d-flex flex-wrap">
                        {% for item in category.items %}
                        <span class="badge badge-custom">{{ item }}</span>
                        {% endfor %}
                    </div>
                </section>
            </div>
            {% endfor %}
        </div>
    </div>
</article>